@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth theme transition */
:root {
  --transition-time: 200ms;
}

html {
  transition: background-color var(--transition-time), color var(--transition-time);
}